- product = shopping_cart_item.item
- image = (!product.images.empty? && product.images.first) || Image.default_image
%tr
  %td.image
    %a{href: "#"}
      = image_tag image.image.url(:thumb)
  %td.name
    %a{href: "#"}
      %b
        = product.name
    %div
  %td.descriere
    = product.description
  %td.quantity
    %input.input-qty.form-control.input-sm{name: "quantity[#{product.id}]", type: "text", value: "#{shopping_cart_item.quantity}"}/
    %a.update-cart.tooltp{"data-original-title" => "Update", title: ""}
      %i.icon-repeat
    %a.tooltp{"data-original-title" => "Remove", href: "#", title: ""}
      %i.icon-remove-sign
  %td.price
    = product.price
    RON
  %td.total
    = product.price * shopping_cart_item.quantity
    RON