- image = (!product.images.empty? && product.images.first) || Image.default_image
.clear
  = yield(:buttons_heading)
.clear.indent
  .browseProductImageContainer
    .browseProductImage
      %a{href: "/product/#{product.id}", rel: "lightbox[product1]", title: "#{product.name}"}
        = image_tag image.image.url(:medium)
    %br/
    %br/
  .floatElement
    %h2.browseProductTitle
      %a.product_name{href: "/product/#{product.id}", title: "#{product.name}"}
        = product.name
    .browsePriceContainer
      %span.productPrice
        $
        = product.price
    %div
    .ask_seller.nobutton
      %a.button{href: "#"} Ask a question about this product
    %div
      = product.description
    %div
      .vmCartContainer
        %form#addtocart_5321f87b5569e.addtocart_form{action: "#", method: "post", name: "addtocart"}
          .vmCartDetails
          %div{style: "width:auto; float:left; padding-right:10px;"}
            .quantity
              %label.quantity_box{for: "quantity1"} Quantity: 
              %input#quantity1.inputboxquantity{name: "quantity[]", size: "4", type: "text", value: "1"}/
              %input.quantity_box_button.quantity_box_button_up.png{onclick: "#", type: "button"}/
              %input.quantity_box_button.quantity_box_button_down.png{onclick: "#", type: "button"}/
          %input.addtocart_button{title: "Add to Cart", type: "submit", value: "Add to Cart"}/