%h6 
  = "Numarul de produse: #{@search.total}. "
  - if params[:search]
    = "Cautare dupa: "
    %b
      - if params[:search].kind_of?(Array)
        - params[:search].each do |word|
          = link_to word, products_index_path(search: [word])
          |
      - else
        = link_to params[:search], products_index_path(search: params[:search])
        |
- if !@results.empty?
  = select(:sort, :item, {"Cele mai noi" => 1, "Pret" => 2, "Nume" => 3})
  = render :partial => 'shared/admin/pagination',
      :locals => {:url => 'index'}
  - @results.each do |product|
    .leftPosition
      .browse_1
        .bottom_separator
          .bottom_separator
            = render :partial => 'shared/products/product_details', :locals => {:product => product}
  = render :partial => 'shared/admin/pagination',
    :locals => {:url => 'index'}