- image = (!product.images.empty? && product.images.first) || Image.default_image
.clear
  = yield(:buttons_heading)
.clear.indent
  .browseProductImageContainer
    .browseProductImage
      %a{href: "/product/#{product.id}", rel: "lightbox[product1]", title: "#{product.name}"}
        = image_tag image.image.url(:medium)
    %br/
    %br/
  .floatElement
    %h2.browseProductTitle
      %a.product_name{href: product_path(product), title: "#{product.name}"}
        = product.name
    .browsePriceContainer
      %span.productPrice
        = product.price
        RON
    %div
      = product.description
    %div
      .vmCartContainer
        = render :partial => 'shared/shopping_carts/shopping_cart_form',:locals => {:product => product}