- image = (!product.images.empty? && product.images.first) || Image.default_image
.clear
  = yield(:buttons_heading)
.clear.indent
  .browseProductImageContainer
    .browseProductImage
      %a{href: "/product/#{product.id}", rel: "lightbox[product1]", title: "#{product.name}"}
        = image_tag image.image.url(:medium)
    %br/
    %br/
  .floatElement
    %h2.browseProductTitle
      %a.product_name{href: "/product/#{product.id}", title: "#{product.name}"}
        = product.name
    .browsePriceContainer
      %span.productPrice
        = product.price
        RON
    %div
      = product.description
    %div
      .vmCartContainer
        = form_for(:shopping_cart, :url => {:controller => 'shopping_carts', :action => 'create'}) do |f|
          %div
            .quantity
              %label.quantity_box{for: "quantity1"} Cantitate: 
              %input#quantity1.inputboxquantity{name: "quantity", size: "4", type: "text", value: "1"}/
              %input.quantity_box_button.quantity_box_button_up.png{onclick: "#", type: "button"}/
              %input.quantity_box_button.quantity_box_button_down.png{onclick: "#", type: "button"}/
              %input{type: "hidden", value: "#{product.id}", name: 'product_id'}/
              %button.btn.btn-primary{href: "#", title: "Adauga in cosul tau de cumparaturi", type: 'send'}
                %i.icon-white.icon-shopping-cart
                adauga in cos