- image = (!product.images.empty? && product.images.first) || Image.default_image
- product_class = (product.images.empty? ? "default-image" : "")
%td.vLine.hLine{width: "11%", id: "product-cell-#{product.id}"}
  .featuredIndent
    .product_image_container
      %a{href: "/product/#{product.id}", title: product.name}
        = image_tag image.image.url(:medium)
    .product-options
      .product_name
        %a.product_name{href: "/product/#{product.id}", title: product.name} #{product.name}
      .box_product_price
        %span.productPrice
          = product.price
          RON
      .clear
        .product_details_container
          = render :partial => 'shared/shopping_carts/shopping_cart_form',:locals => {:product => product}