- image = (!product.images.empty? && product.images.first) || Image.default_image
- product_class = (product.images.empty? ? "default-image" : "")
%td.vLine.hLine{width: "11%", id: "product-cell-#{product.id}"}
  .featuredIndent
    .product_image_container
      %a{href: "/product/#{product.id}", title: product.name}
        = image_tag image.image.url(:medium)
    .product-options
      .product_name
        %a.product_name{href: "/product/#{product.id}", title: product.name} #{product.name}
      .box_product_price
        %span.productPrice
          = product.price
      .clear
        .product_buttons
          %form#addtocart{action: "#", method: "post", name: "addtocart"}
            %input.addtocart_button{title: "Adauga la Cos", type: "submit", value: "Adauga la Cos"}/
        .product_details_container
          %a.details{href: "#", title: product.name} Details