- page = (params[:page] && params[:page].to_i) || 1
%tr
  %td{:colspan => "6"}
    .pagination.pagination-large
      %ul
        - back_path = (@results.first_page? ? '#' : "#{url}?page=#{@results.previous_page}")
        - forward_path = (@results.last_page? ? '#' : "#{url}?page=#{@results.next_page}")
        %li{:class => "#{@results.first_page? ? 'disabled' : ''}"}
          %a{:href => back_path}
            &laquo;
        - (1..@results.total_pages).each do |p|
          %li{:class => "#{page == p ? 'active': ''}"}
            %a{:href => "#{url}?page=#{p}"}= p
        %li{:class => "#{@results.last_page? ? 'active': ''}"}
          %a{:href => forward_path}
            &raquo;